//= Imports
// @import "compass/typography/text/replacement";
// @import "compass/utilities/general/clearfix";
// @import "compass/css3/border-radius";
// @import "compass/css3/box-sizing";


//= Third-party
// @import "font-awesome";

.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #F5F5F5;
	border-right: 1px solid #EEE;
}

.main {
	padding: 20px;
}